
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item {
   
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    height: 32rem;
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.team-member {
    margin-bottom: 40px;
  }
  
  .team-member .image {
    margin-bottom: 1rem;
  }
  
  .team-member a {
    color: #333;
  }
  
  .team-member a:hover {
    color: #333;
  }
  
  .team-member h3 {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
  
  .team-member p.role {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 0;
  }
  
  .team-member p {
    color: #999;
    font-size: 0.8rem;
  }
  
  .team-member-detail p:not(.lead) {
    color: #555;
    font-size: 0.9rem;
  }

  section#program .col-md-4{
      padding-top: 2em;
  }

  section#program>div{
      margin-right: 1em;
  }

  #map{
    width: 700px;
    height: 500px;
    text-align: center;
    margin-bottom: 15px;
  }


  .accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:15px;
    border:1px solid cornflowerblue;
    border-radius:10px;
    width:600px;
    padding:10px;
    background:#fff;
  }
  .accordion ul {
      list-style:none;
      margin:0;
      padding:0;    
  }
  .accordion li {
      margin:0;
      padding:0;
  }
  .accordion [type=radio], .accordion [type=checkbox] {
      display:none;
  }
  .accordion label {
      display:block;
      font-size:30px;
      line-height:16px;
      background:cornflowerblue;
      border:1px solid cornflowerblue;
      color:#333;
      text-shadow:1px 1px 1px rgba(255,255,255,0.3);
      font-weight:700;
      cursor:pointer;
      text-transform:uppercase;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
  }
  .accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
      background:cornflowerblue;
      color:#FFF;
      text-shadow:1px 1px 1px rgba(0,0,0,0.5)
  }
  .accordion .content {
      padding:0 10px;
      overflow:hidden;
      border:1px solid #fff;
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
  }
  .accordion p {
      color:#333;
      margin:0 0 10px;
  }
  .accordion h3 {
      color:#333;
      padding:0;
      margin:10px 0;
  }


  /* Vertical */
  .vertical ul li {
      overflow:hidden;
      margin:0 0 1px;
  }
  .vertical ul li label {
      padding:10px;
  }
  .vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
      border-bottom:0;
  }
  .vertical ul li label:hover {
      border:1px solid cornflowerblue;
  }
  .vertical ul li .content {
      height:0px;
      border-top:0;
  }
  .vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
      height:auto;
      border:1px solid cornflowerblue;
  }

  #main {
    float: left;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  article div#accordion {
    display: table;
    text-align: center;
  }

  article div p{
    text-align: left;
  }

  article ul li{
    padding-left: 5px;
  }

  table caption{
    text-align: center;
  }